	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="author" content="thanzen" />
	<meta name="_xsrf" content="{{.xsrf_token}}" />
	<title>Eq Admin</title>
	<meta name="description" content="Eq user management">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--<link rel="stylesheet" type="text/css" href="main.css">-->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="{{.AppUrl}}static/css/bootstrap.css">
	<link rel="stylesheet" href="{{.AppUrl}}static/css/base.css">
	<link rel="shortcut icon" href="{{.AppUrl}}static/img/favicon.png" />
